@use "config/variables" as var;
@use "config/mixins" as mix;

.appointment-item {
  border-radius: 1rem;
  padding: 1rem;
  background-color: var.$white;
  color: var.$secondary-color;

  &__info {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    margin: 0;
  }

  &__detail {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;

    &--value {
      font-weight: 300;
      text-transform: none;
    }
  }

  &__btn-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  &__btn {
    @include mix.button(var.$primary-color, var.$white);

    &--delete {
      @include mix.button(red, var.$white);
    }
  }
}
