@use "config/variables" as var;
@use "config/mixins" as mix;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: var.$primary-font;
  font-weight: 300;
  color: var.$secondary-color;
  background-image: linear-gradient(
    to bottom,
    var.$white 55%,
    var.$primary-color 55%
  );
  @include mix.tablet {
    background-image: linear-gradient(
      to right,
      var.$white 50%,
      var.$primary-color 50%
    );
  }
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

[class$="__container"] {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}
