<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peludatos | Administra tus pacientes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <a href="index.html" class="header__logo">
          <img
            class="header__logo-img"
            src="./assets/img/icons/logo_icon.svg"
            alt="Peludatos"
          />
        </a>
      </div>
    </header>

    <main class="main">
      <div class="main__grid main__container">
        <section class="patient-tracking">
          <h2 class="patient-tracking__heading">Seguimiento de pacientes</h2>
          <p class="patient-tracking__description">
            Añade Pacientes y
            <span class="patient-tracking__description--highlight"
              >Administralos</span
            >
          </p>

          <form id="form__appointment" class="form">
            <div class="form__field">
              <label for="input_patient_name" class="form__label">
                Mascota:
              </label>
              <input
                class="form__input"
                type="text"
                id="input_patient_name"
                placeholder="Nombre de la mascota"
                name="patient_name"
              />
            </div>

            <div class="form__field">
              <label for="input_owner_name" class="form__label">
                Propietario:
              </label>
              <input
                class="form__input"
                type="text"
                id="input_owner_name"
                placeholder="Nombre del propietario"
                name="owner_name"
              />
            </div>
            <div class="form__field">
              <label for="input_contact_email" class="form__label">
                Correo electrónico:
              </label>
              <input
                class="form__input"
                type="email"
                id="input_contact_email"
                placeholder="Correo de contacto"
                name="contact_email"
              />
            </div>

            <div class="form__field">
              <label for="input_registration_date" class="form__label">
                Alta de la mascota:
              </label>
              <input
                class="form__input"
                type="date"
                id="input_registration_date"
                name="registration_date"
              />
            </div>

            <div class="form__field">
              <label for="input_symptoms" class="form__label">
                Síntomas de la mascota:
              </label>
              <textarea
                class="form__input form__input--textarea"
                id="input_symptoms"
                name="symptoms"
                placeholder="Síntomas del paciente"
              ></textarea>
            </div>

            <input type="submit" class="form__btn" value="Registrar paciente" />
          </form>
        </section>
        <section class="patient-management">
          <h2 class="patient-management__heading">Administra tus pacientes</h2>
          <p class="patient-management__description">
            Información de
            <span class="patient-management__description--highlight"
              >pacientes</span
            >
          </p>
          <div id="citas">
            <ul class="appointment-list" id="appointment-list">
              <!-- Citas cargadas dinámicamente -->
             <p>No hay citas agendadas</p>
            </ul>
          </div>
        </section>
      </div>
    </main>

    <script src="./js/main.js"></script>
  </body>
</html>
