@use "config/variables" as var;

.patient-tracking {
  padding: 1rem 0;

  &__heading {
    color: var.$secondary-color;
    font-weight: 700;
  }

  &__description {
    font-weight: 500;

    &--highlight {
      color: var.$primary-color;
    }
  }
}
